@charset "UTF-8";
/* CSS Document */



h1 {
	color:#E6AFF4;
	background-color: #087;
}

body{
	background-color: #83B5ED;	
}


aside li {
	margin-top: 12px;
}

nav li {
	background-color: #E6AFF4;
	display:inline;
	margin-right: 20px;
}